@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pink-app-primary: mat-palette($mat-pink, 600);
$pink-app-accent:  mat-palette($mat-pink, 900);
//$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$pink-app-warn:    mat-palette($mat-red);


// Create the theme object (a Sass map containing all of the palettes).
$pink-app-theme: mat-light-theme($pink-app-primary, $pink-app-accent, $pink-app-warn);

@function light-theme-foreground($color) {
  @return (
    base:              $color,
    divider:           $black-12-opacity,
    dividers:          $black-12-opacity,
    disabled:          rgba($color, 0.38),
    disabled-button:   rgba($color, 0.38),
    disabled-text:     rgba($color, 0.38),
    hint-text:         rgba($color, 0.38),
    secondary-text:    rgba($color, 0.54),
    icon:              rgba($color, 0.54),
    icons:             rgba($color, 0.54),
    text:              rgba($color, 1.00),
    slider-min:        rgba($color, 0.87),
    slider-off:        rgba($color, 0.26),
    slider-off-active: rgba($color, 0.38),
  );
};

$white-foreground: light-theme-foreground(white);

$pink-theme-custom: map-merge($pink-app-theme, (foreground: $white-foreground));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//@include angular-material-theme($candy-app-theme);
@include angular-material-theme($pink-theme-custom);



